*{
    margin: 0;
    padding: 0;
    max-width: 1300px;/*medida temporar para que no se deforme todo*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

header{
    margin: auto;
    margin-top: 100px;
    height: 15em;
    width: 80%;
    
    background-color: red;
}

.contenedor{
    width: 16.66666666666667%;
    height: 100%;
    float: left;
    transition: all 600ms;
    cursor: pointer;

    
}



